[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
knox = "*"
django-rest-knox = "*"
channels = "*"
uvicorn = {extras = ["standard"], version = "*"}
channels-redis = "*"
gunicorn = "*"
whitenoise = "*"
psycopg2 = "*"
django-heroku = "*"
pip = "*"
install = "*"
django-cors-headers = "*"

[dev-packages]

[requires]
python_version = "3.9"
